/* styles/resusable.css  */

html {
  overflow: auto; /* still scrollable */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.btn {
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  min-width: 150px;
  margin: auto;
}
/* buttons for the indicators (eg for rent, buy etc ) */
.btn--cta {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  min-width: 150px;
  transition: transform 0.2s ease;
  font-weight: bold;
}

.btn--primary {
  background: var(--btn-color);
  color: var(--primary-color);
  border: none;
}

.btn--primary:hover {
  background: var(--btn-color-2);
}

.btn--secondary {
  background: var(--btn-color-2);
  border: none;
  color: var(--primary-color);
}

.btn--secondary:hover {
  background: var(--btn-color);
}

.btn .withIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container {
  margin: 0 7%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 20;
}

@media (max-width: 768px) {
  .container {
    margin: 0 2%;
  }
}
