:root {
  --primary-color: #ffffff;
  --secondary-color: #100e2c;
  --btn-color: #0055ffd8;
  --btn-color-2: #75ec1a;
  --text-color: #000000;
  --text-heading-color-dark: #100e2c;
  --text-heading-color-light: #ffffff;
  --text-light-color: #7a7474;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

html {
  background-color: var(--primary-color);
  font-size: 0.7;
}
.header {
  position: relative;
}

.navbar {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.079); */
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  font-weight: lighter;
}

.mobile-nav {
  display: none !important;
  padding: 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
}

.mobile-nav-link-lists {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-link-lists {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 15px;
  font-size: 0.9rem;
}
.nav-link-lists a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-link-lists .active {
  color: var(--text-heading-color-dark);
  font-weight: bold;
}
.active::after {
  content: "";
  display: block;
  background-color: var(--text-color);
  width: 100%;
  height: 2px;
  margin-top: 3px;
}

.toggle {
  display: none;
  border: none;
  background-color: transparent;
}

.logo i {
  font-size: larger;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.5)),
    url(../assets/hero-image6.webp);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: high-quality;
  color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  object-fit: cover;
}

.hero-image-text .hero-image-text-header {
  font-size: 3rem;
}

.hero-image-text .hero-image-text-paragraph {
  width: 80%;
  margin: auto;
  font-size: 0.9rem;
  padding-top: 10px;
}

.header-form {
  background: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089);
  padding: 50px 20px;
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.filterForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.filterSelectForm {
  padding: 15px 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.filterSelectForm:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}
.filter {
  background: var(--primary-color);
  border: 0;
  outline: none;
}
.filter i {
  font-size: larger;
}

/* featured  */
.featured {
  position: relative;
}
.feature {
  margin: 10% 0;
}
.featuredProperty {
  text-align: center;
}

.featuredProperty h2 {
  color: var(--text-heading-color-dark);
  font-size: 2.5rem;
}

.featuredProperty p {
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 10px 0 0 0;
  color: var(--text-light-color);
}

.card--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
}

.card--container .card {
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.079);
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
.card a{
  text-decoration: none;
  color: var(--secondary-color);
}

.card--container .card--image img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card--writeup {
  padding: 5px 10px;
}

.card--text .title {
  font-weight: 100;
  font-size: medium;
}

.card--text .location {
  font-size: 0.8rem;
  color: var(--text-light-color);
  padding: 5px 0;
}

.card--text .price {
  font-size: 1.2rem;
  font-weight: 600;
}
.card--data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0 0 0;
}

.data {
  display: flex;
  flex-direction: column;
}

.data-info {
  display: flex;
  gap: 3px;
  align-items: center;
}
.data-info span {
  font-weight: 100;
}

.data p {
  font-size: 0.8rem;
  color: var(--text-light-color);
}

.call-to-action-section {
  background-color: var(--text-heading-color-dark);
  margin-bottom: 20px;
  padding: 30px auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-heading-color-light);
}
.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cta .image {
  width: 60%;
  margin: auto;
}
.cta .image img {
  width: 80%;
  border-radius: 15px;
}
.cta .writeup h2 {
  padding: 10px 0;
  font-size: 2rem;
  width: 80%;
}

.cta .writeup p {
  width: 70%;
  padding: 30px 0;
  line-height: 2rem;
}

.wcs {
  display: flex;
  flex-wrap: wrap; /* allows responsiveness */
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  gap: 20px;
  width: 100%;
}

.what-client-says-section .writeup {
  flex: 1 1 300px;
  text-align: center;
  width: 20%;
}

.what-client-says-section .writeup h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.what-client-says-section .writeup p {
  line-height: 1.8rem;
  padding: 10px 0;
  font-style: italic;
  color: #555;
  width: 70%;
  margin: auto;
}

.what-client-says-section .writeup h4 {
  margin-top: 15px;
  font-weight: 600;
}

.what-client-says-section .writeup .role {
  color: #888;
  font-size: 0.9rem;
}

.what-client-says-section .image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.what-client-says-section .image img {
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}
.contact-us {
  background: linear-gradient(rgba(2, 5, 40, 0.848), rgba(0, 0, 0, 0.848)),
    url(../assets/hero-image.webp);
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  color: var(--primary-color);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
}
.contact-form {
  padding: 20px;
  background-color: var(--text-heading-color-dark);
  border-radius: 10px;
  width: 25%;
}
.contact-form h3 {
  font-size: 1.5rem;
  padding: 10px 0;
}
.contact-form p {
  font-size: 0.8rem;
  padding: 0 0 10px 0;
  width: 80%;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
}

.contact-input {
  padding: 12px 5px;
  width: 100%;
  border-radius: 10px;
}

.contact-input:focus {
  outline: none;
  border: none;
}

.contact-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-text h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}

.contact-text p {
  font-size: 0.8em;
  padding-bottom: 10px;
  line-height: 1.5rem;
}

/* commercial  */
.CommercialWrapper {
  position: relative;
}
.commercial {
  margin: 10% 0 0 0;
}
.CommercialProperty {
  text-align: center;
}

.CommercialProperty h2 {
  color: var(--text-heading-color-dark);
  font-size: 2.5rem;
}

.CommercialProperty p {
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 10px 0 0 0;
  color: var(--text-light-color);
}

/* footer  */

.footer {
  background-color: var(--text-heading-color-dark);
  color: var(--primary-color);
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.footer footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  justify-content: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  /* background: blue; */
}
.footer-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  /* background: red; */
}

.input-container {
  border-radius: 10px;
  padding: 5px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.input-container input {
  background-color: #0055ffd8;
  border: none;
  padding: 15px 20px;
  font-size: 15px;
  cursor: pointer;
  min-width: 50%;
  margin: auto;
  background-color: transparent;
}

.input-container input:focus {
  outline: none;
}
