:root {
  --primary-color: #ffffff;
  --secondary-color: #100e2c;
  --btn-color: #0057ff;
  --btn-color-2: #8eda53;
  --text-color: #000000;
  --text-heading-color-dark: #100e2c;
  --text-heading-color-light: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--primary-color);
  font-size: 0.7;
}
.header {
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-between;
  font-weight: lighter;
}
.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-link-lists {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  gap: 15px;
  font-size: 0.9rem;
}

.logo i {
  font-size: larger;
}
.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.5)),
    url(../assets/hero-image3.webp);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: high-quality;
  color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-image-text .hero-image-text-header {
  font-size: 3rem;
}

.hero-image-text .hero-image-text-paragraph {
  width: 80%;
  margin: auto;
  font-size: 0.9rem;
  padding-top: 10px;
}

.header-form {
  background: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089); 
  padding: 40px 20px;
  position: absolute;
  width: 80%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 8px;
}
